.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.message, .input-container, .game-id-list {
    margin-bottom: 20px;
}

.message {
    font-family: "MarioFont", sans-serif;
    font-size: 6vh;
    color: red;
}

.game-id-input {
    font-family: "MarioFont", sans-serif;
    font-size: 5vh;
    color: red;
    margin-top: 20px;
    padding: 1vh;
    border: 2px solid #FFFFFF;
    border-radius: 5px; 
    background: rgba(255, 255, 255, 0.5);
}

.game-id-list {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 1vh;
    width: 50%;
    margin: auto;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    box-shadow: 0 0 10px rgba(0,0,0,0.75); /* Shadow for depth */
    overflow: hidden;
    max-height: 30vh;
    font-size: 5vh;
}

.message2 {
    font-family: "MarioFont", sans-serif;
    font-size: 5vh;
    color: red;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.game-id-title, .game-id-list-title {
    margin-bottom: 10px;
    font-size: 6vh;
}