.Menu {
    text-align: center;
}
.btn {
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    color: #3498db;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}


/* https://www.geeksforgeeks.org/apply-glowing-effect-to-the-image-using-html-and-css/ for this button*/
.glow {
    border-radius: 10%;
    background: transparent;
    border: transparent;
}
.glow:hover {
    color: #111;
    background: transparent;
    box-shadow: 0 0 100px greenyellow;
}

.game-logo {
    width: 70%;
    margin-bottom: 10px;
    align-self: center;
}

.button {
    margin: 10px;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}