.cards {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 50%;
    left: 25%;
}

.card {
    width: 10%;
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover,
.raised {
    transform: translateY(-50%);
}

.dealercard {
    width: 10%;
    transition: all 0.3s ease;
}

.dealercard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dealercard:hover,
.dealerraised {
    transform: translateY(50%);
}

.bet {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: absolute;
    left: 28%;
    bottom: 30%;
    height: auto;
}
.endTurnButton{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: absolute;
    right: 27.5%;
    bottom: 30%;
    height: auto;
}

.token{
    width: 3vw;
    position: relative;
    margin-right: 5px;
}
.miniToken{
    height: 2vh;
    position: relative;
    margin-right: 5px;
}
.luigi{
    width: 10vw;
    left: 3%;
}
.tokenCount{
    font-size: 7vh;
    position: absolute;
    left:28%;
    bottom: 40%;

}

.crispImages{
    pixelperfect: true;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.splashScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

    z-index: 999;
    pointer-events: auto; /*blocks all pointer events*/
}

.info{
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 8vh;
    text-align: right;
}

.tooltip {
    position: absolute;
    right: 5%;
    top: 18%;
    text-align: right;

    visibility: hidden;
    opacity: 0;

    background-color: rgba(0,0,0,0.4);; /* Black background color */
    font-size: 4vh;

    transform: scale(0); /* Start as collapsed */
    transform-origin: top right;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    pointer-events: none;
}

.tooltip img {
    max-width: 60vw; /* Adjust as needed */
    height: 60vh; /* Adjust as needed */
}

.info.hover ~ .tooltip {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.tooltip:not(.hover) {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}