.Game {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; /* Align items to the end of the container */
    height: 100vh; /* Take full viewport height */
}

.card {
    width: 10%;
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover,
.raised {
    transform: translateY(-50%);
}