.rotate90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotateneg90 {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.bordering {
    -webkit-text-stroke-width: 0.2vh;
    -webkit-text-stroke-color: black;
}
.modal-title {
    font-family: MarioFont, serif;
}

.create-background {
    background-image: url('../../resources/menuIcons/luigisCasino.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.create-header {
    display: flex;
    justify-content: center;
    position: relative;
}

.create-title {
    font-size: 5vh;
    margin-top: 10vh;
    margin-bottom: 4vh;
    width: 40vw;
}

.back-button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.back-button {
    width: 12vw;
}

.configuration-container {
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

.config-section {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    margin: 2vh;
}

.arrow{
    height: 14vh;
}